# --- SBT / Scala ---
build/
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`

*.iml
*.ipr
*.iws
.idea/
out

*.class

webhook/.bsp/
webhook/target/

# --- Python ---
webhook/venv/